<h2><%= @request_type %> <%= @url %></h4>
<h4>Request Headers</h4>
<ul>
  <% @request_data['headers'].each do |header, value| %>
    <li><strong><%= header %>: </strong><%= value %></li>
  <% end %>
</ul>

<hr>

<h4>Response Headers</h4>
<ul>
  <% @response_data['headers'].each do |header, value| %>
    <li><strong><%= header %>: </strong><%= value %></li>
  <% end %>
</ul>

<h4>Body</h4>
<div class="row">
  <code><%= h @response_data['body'] %></code>
</div>
