<%= render 'requests/user_actions/menu' %>

<div class="row">
  <div class="col-md-12">
    <h2><%= @rid.request_type %> <small><%= @rid.url %></small></h2>

    <h4>Request Headers</h4>
    <ul>
      <% @request_data['headers'].each do |header_name, header_value| %>
        <li>
          <strong><%= header_name %>: </strong><%= header_value %>
        </li>
      <% end %>
    </ul>

    <hr>

    <h4>Response Headers</h4>
    <ul>
      <% @response_data['headers'].each do |header_name, header_value| %>
        <li>
          <strong><%= format_http_header header_name %>: </strong><%= header_value %>
        </li>
      <% end %>
    </ul>

    <% unless @request_type == 'HEAD' %>
    <h4>Body</h4>
    <div class="row">
      <div class="col-md-12">
        <% if json_response? %>
          <pre><code><%= JSON.pretty_generate(JSON.parse(@response_data['body'])) %></code></pre>
        <% else %>
          <pre><code><%= h @response_data['body'] %></code></pre>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
