<div class="container">
  <div id="request">
    <%= form_for @request, :url => create_request_path, html: { :class => 'form-horizontal' }, :remote => true do %>

    <!-- URL -->
    <div class="form-group">
      <div class="col-md-2">
        <%= select_tag 'request_type', options_for_select(%w(GET POST PUT DELETE OPTIONS HEAD PATCH)), :class => 'request-type form-control' %>
      </div>
      <div class="col-md-10">
        <%= url_field_tag(:url, '', { :class => 'request-url form-control', :placeholder => 'Enter your URL...' }) %>
      </div>
    </div>

    <!-- Authentication -->
    <div class="form-group">
      <div class="col-md-2">
        <%= label_tag 'Authentication', nil, class: 'form-label' %>
      </div>
      <div class="col-md-10">
        <button type="button" class="btn btn-sm btn-default" id="js-add-request-basic-auth">
          <span class="glyphicon glyphicon-plus"></span> Add basic authentication
        </button>
        <div id="request-basic-auth">
          <%= text_field_tag 'username', nil, class: 'auth_username form-control', :placeholder => 'Username' %>
          <%= password_field_tag 'password', nil, class: 'auth_password form-control', :placeholder => 'Password' %>
          <a href="" id="js-hide-request-basic-auth">Remove authentication</a>
        </div>
      </div>
    </div>

    <!-- Parameters -->
    <div class="form-group">
      <div class="col-md-2">
        <%= label_tag 'Parameters', nil, class: 'form-label' %>
      </div>
      <div class="col-md-10">
        <button type="button" class="btn btn-sm btn-default" id="js-add-request-parameter">
          <span class="glyphicon glyphicon-plus"></span> Add a parameter
        </button>
      </div>
    </div>

    <!-- HTTP headers -->
    <div class="form-group">
      <div class="col-md-2">
        <%= label_tag 'Custom headers', nil, class: 'form-label' %>
      </div>
      <div class="col-md-10">
        <button type="button" class="btn btn-sm btn-default" id="js-add-request-custom-header">
          <span class="glyphicon glyphicon-plus"></span> Add custom HTTP header
        </button>
      </div>
    </div>

    <div class="form-group request-submission col-md-12">
      <!-- <%= check_box_tag(:private_request, 1) %>
      <%= label_tag(:private_request, 'Private request?') %> -->
      <%= submit_tag "Send", :id => 'send-request', :class => 'btn btn-success' %>
    </div>
    <% end %>
  </div> <!-- /#request -->

  <div id="response"></div> <!-- /#response -->
</div>
