<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'rehttp' %>
  <title><%= title %></title>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

<%= javascript_include_tag 'rehttp' %>
</body>
</html>
