<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application' %>
  <title><%= title %></title>
  <meta name="ruby_version" content="<%= ruby_version %>" />
  <meta name="commit_sha" content="<%= git_head_sha %>" />
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="<%= site_url %>">REHTTP</a>
    <p class="navbar-text navbar-right">
      <a href="https://github.com/rehttp/rehttp/blob/master/README.md">Documentation</a>
      <a href="https://github.com/rehttp/rehttp/issues">Report a bug</a>
    </p>
  </div> <!-- /.navbar -->
</nav>

<div id="wrap" class="container">
  <%= yield %>
  <div class="push"></div>
</div> <!-- /#wrap -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        ReHTTP is an open source project, constructed using
        <span class="glyphicon glyphicon-heart"></span> &mdash; <a href="https://github.com/rehttp/rehttp">contribute</a> today!
      </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</footer>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5329f52deddd5b4fb3001bd8');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<%= javascript_include_tag 'application' %>
</body>
</html>
